

<div style="height: 500px;" class="container bg-dark bg-gradient mt-5 ">

  <h1 class="text-white text-center" style="padding-top: 200px; font-family: 'Baskerville Old Face'; font-size: 50px">
    Bienvenue sur le site de Radiologie</h1>

<div class="text-center">
    <button class="btn btn-outline-light col-3 mt-5"   routerLink="/user/patient-create" >Créer Patient</button>

    <button class="btn btn-outline-light col-3 mt-5 mx-2"  routerLink="/user/prescription-create">Créer Prescription</button>
</div>





</div>


