<table class="table table-secondary table-striped table-hover caption-top">
  <caption>Liste de prescriptions</caption>
  <thead>
  <tr>
    <th scope="col">Référence</th>
    <th scope="col">Nombre séances</th>
    <th scope="col">Début</th>
    <th scope="col">Date Prescription</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of prescriptions ; index as i">
    <th scope="row">{{p.ref}}</th>
    <td>{{p.nbrTotalSeance}}</td>
    <td>{{p.dateDebut}}</td>
    <td>{{p.datePrescription}}</td>
    <td>
      <span (click)="deleteByRef(p,i);" class="btn btn-sm btn-danger fa fa-trash"
            *ngIf="authService.hasRole('ADMIN')"></span>
      <span  class="btn btn-sm btn-primary fa fa-edit mx-3" (click)="update(i,p)"
             routerLink="/user/prescription-create"></span>
      <span  class="btn btn-sm btn-secondary  mx-3" (click)="findByPrescriptionRef(p.ref)" >Afficher Seance(s)</span>
      <span  class="btn btn-sm btn-success  mx-3"
             (click)="findHistoriqueByPrescriptionRef(p.ref);"
             *ngIf="authService.hasRole('ADMIN')">Consulter l'historique</span>
    </td>
  </tr>

  </tbody>
</table>
<div class="row" >
  <app-seance-list></app-seance-list>
</div>

